Repository chang-yoo/LearningFuze-Main-Course: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markuplint, eslint --fix

revised response structure
  api-authentication/server/index.js
Due: eslint --fix

in progress
  react-carousel-component/dist/index.html
  react-carousel-component/dist/styles.css
  react-carousel-component/images/001.png
  react-carousel-component/images/004.png
  react-carousel-component/images/007.png
  react-carousel-component/images/025.png
  react-carousel-component/images/039.png
  react-carousel-component/package.json
  react-carousel-component/src/carousel.jsx
  react-carousel-component/src/index.jsx
  react-carousel-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

in progress
  react-carousel-component/src/carousel.jsx
Due: eslint --fix

in progress
  react-context/.env.example
  react-context/.gitignore
  react-context/.gitkeep
  react-context/.npmrc
  react-context/client/app.jsx
  react-context/client/components/auth-form.jsx
  react-context/client/components/navbar.jsx
  react-context/client/components/page-container.jsx
  react-context/client/components/redirect.jsx
  react-context/client/index.jsx
  react-context/client/lib/app-context.js
  react-context/client/lib/parse-route.js
  react-context/client/pages/auth.jsx
  react-context/client/pages/home.jsx
  react-context/client/pages/not-found.jsx
  react-context/database/data.sql
  react-context/database/import.sh
  react-context/database/schema.sql
  react-context/flow.txt/user-can-sign-in.txt
  react-context/flow.txt/user-can-sign-up.txt
  react-context/flow.txt/user-can-stay-sign-out.txt
  react-context/flow.txt/user-can-stay-signed-in.txt
  react-context/nodemon.json
  react-context/package.json
  react-context/server/client-error.js
  react-context/server/dev-middleware.js
  react-context/server/error-middleware.js
  react-context/server/index.js
  react-context/server/public/index.html
  react-context/webpack.config.js
Due: markuplint, eslint --fix

in progress of removing lagging
  react-carousel-component/src/carousel.jsx
Due: eslint --fix

completed react-context
  react-context/client/components/navbar.jsx
  react-context/client/pages/auth.jsx
  react-context/flow.txt/user-can-sign-in.txt
  react-context/flow.txt/user-can-sign-up.txt
  react-context/flow.txt/user-can-stay-sign-out.txt
  react-context/flow.txt/user-can-stay-signed-in.txt
Due: eslint --fix

revised react-hash-routing
  react-hash-routing/client/components/header.jsx
  react-hash-routing/client/pages/not-found.jsx
  react-hash-routing/client/pages/product-details.jsx
Due: eslint --fix

completed react-file-uploads
  react-file-uploads/.env.example
  react-file-uploads/.eslintrc
  react-file-uploads/.gitignore
  react-file-uploads/.gitkeep
  react-file-uploads/.npmrc
  react-file-uploads/client/app.jsx
  react-file-uploads/client/index.jsx
  react-file-uploads/database/data.sql
  react-file-uploads/database/import.sh
  react-file-uploads/database/schema.sql
  react-file-uploads/javascript-logo.png
  react-file-uploads/nodemon.json
  react-file-uploads/package.json
  react-file-uploads/server/client-error.js
  react-file-uploads/server/dev-middleware.js
  react-file-uploads/server/error-middleware.js
  react-file-uploads/server/index.js
  react-file-uploads/server/public/images/.gitkeep
  react-file-uploads/server/public/images/image-1608316435111.png
  react-file-uploads/server/public/images/image-1653780195817.png
  react-file-uploads/server/public/images/image-1653781294012.jpeg
  react-file-uploads/server/public/index.html
  react-file-uploads/server/uploads-middleware.js
  react-file-uploads/webpack.config.js
Due: markuplint, eslint --fix

completed react-carousel-component
  react-carousel-component/src/carousel.jsx
Due: eslint --fix

javascript-closures
  javascript-closures/.eslintrc
  javascript-closures/.gitkeep
  javascript-closures/.npmrc
  javascript-closures/index.html
  javascript-closures/main.js
  javascript-closures/make-adder.html
  javascript-closures/make-counter.html
  javascript-closures/make-sizer.html
Due: markuplint, eslint --fix

completed big-o-notation
  big-o-notation/.eslintrc
  big-o-notation/.gitkeep
  big-o-notation/.npmrc
  big-o-notation/big-o.js
Due: eslint --fix

completed big-o-notation
  big-o-notation/big-o.js
Due: eslint --fix

completed data-structures-stacks
  data-structures-stacks/.eslintrc
  data-structures-stacks/.gitkeep
  data-structures-stacks/.npmrc
  data-structures-stacks/add-to-top.js
  data-structures-stacks/add-to-top.test.js
  data-structures-stacks/count-values.js
  data-structures-stacks/count-values.test.js
  data-structures-stacks/get-2nd-from-top.js
  data-structures-stacks/get-2nd-from-top.test.js
  data-structures-stacks/get-top.js
  data-structures-stacks/get-top.test.js
  data-structures-stacks/index.html
  data-structures-stacks/insert-under-top.js
  data-structures-stacks/insert-under-top.test.js
  data-structures-stacks/is-empty.js
  data-structures-stacks/is-empty.test.js
  data-structures-stacks/lib/stack.js
  data-structures-stacks/lib/stack.test.html
  data-structures-stacks/lib/stack.test.js
  data-structures-stacks/max-value.js
  data-structures-stacks/max-value.test.js
  data-structures-stacks/take-top.js
  data-structures-stacks/take-top.test.js
Due: markuplint, eslint --fix

data-strcutures-queues
  data-structures-queues/.eslintrc
  data-structures-queues/.gitkeep
  data-structures-queues/.npmrc
  data-structures-queues/add-to-back.js
  data-structures-queues/add-to-back.test.js
  data-structures-queues/get-front.js
  data-structures-queues/get-front.test.js
  data-structures-queues/index.html
  data-structures-queues/is-empty.js
  data-structures-queues/is-empty.test.js
  data-structures-queues/lib/queue.js
  data-structures-queues/lib/queue.test.html
  data-structures-queues/lib/queue.test.js
  data-structures-queues/postpone.js
  data-structures-queues/postpone.test.js
  data-structures-queues/take-2nd.js
  data-structures-queues/take-2nd.test.js
  data-structures-queues/take-front.js
  data-structures-queues/take-front.test.js
  data-structures-queues/take-next-smallest.js
  data-structures-queues/take-next-smallest.test.js
  data-structures-queues/take-smaller.js
  data-structures-queues/take-smaller.test.js
  data-structures-queues/take-value-at-index.js
  data-structures-queues/take-value-at-index.test.js
Due: markuplint, eslint --fix

completed data-strucutres-linked-lists
  data-structures-linked-lists/.eslintrc
  data-structures-linked-lists/.gitkeep
  data-structures-linked-lists/.npmrc
  data-structures-linked-lists/append.js
  data-structures-linked-lists/append.test.js
  data-structures-linked-lists/get-head.js
  data-structures-linked-lists/get-head.test.js
  data-structures-linked-lists/get-length.js
  data-structures-linked-lists/get-length.test.js
  data-structures-linked-lists/get-tail.js
  data-structures-linked-lists/get-tail.test.js
  data-structures-linked-lists/includes.js
  data-structures-linked-lists/includes.test.js
  data-structures-linked-lists/index.html
  data-structures-linked-lists/insert-next.js
  data-structures-linked-lists/insert-next.test.js
  data-structures-linked-lists/lib/linked-list.js
  data-structures-linked-lists/lib/linked-list.test.html
  data-structures-linked-lists/lib/linked-list.test.js
  data-structures-linked-lists/prepend.js
  data-structures-linked-lists/prepend.test.js
  data-structures-linked-lists/remove-next.js
  data-structures-linked-lists/remove-next.test.js
  data-structures-linked-lists/remove-tail.js
  data-structures-linked-lists/remove-tail.test.js
  data-structures-linked-lists/swap-front.js
  data-structures-linked-lists/swap-front.test.js
  data-structures-linked-lists/update-head.js
  data-structures-linked-lists/update-head.test.js
  data-structures-linked-lists/update-next.js
  data-structures-linked-lists/update-next.test.js
  data-structures-linked-lists/without-head.js
  data-structures-linked-lists/without-head.test.js
Due: markuplint, eslint --fix

Path conditions:
  stylelint --fix: any of: *.css
  markuplint: any of: *.html
  eslint --fix: any of: *.{js,jsx}
