Repository chang-yoo/LearningFuze-Main-Course: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markuplint, eslint --fix

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix"
  ],
  "*.html": [
    "markuplint"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ]
}

completed react-jsx
  .lintstagedrc
  package-lock.json
  package.json
  react-jsx/.gitignore
  react-jsx/.gitkeep
  react-jsx/.npmrc
  react-jsx/dist/index.html
  react-jsx/package.json
  react-jsx/src/index.jsx
  react-jsx/webpack.config.js
Due: markuplint, eslint --fix

completed react-function-component
  react-function-components/.gitignore
  react-function-components/.gitkeep
  react-function-components/.npmrc
  react-function-components/dist/index.html
  react-function-components/package.json
  react-function-components/src/index.jsx
  react-function-components/webpack.config.js
Due: markuplint, eslint --fix

completed react-props-and-expressions
  react-props-and-expressions/.gitignore
  react-props-and-expressions/.gitkeep
  react-props-and-expressions/.npmrc
  react-props-and-expressions/dist/index.html
  react-props-and-expressions/package.json
  react-props-and-expressions/src/index.jsx
  react-props-and-expressions/webpack.config.js
Due: markuplint, eslint --fix

completed react-class-components
  react-class-components/.gitignore
  react-class-components/.gitkeep
  react-class-components/.npmrc
  react-class-components/dist/index.html
  react-class-components/package.json
  react-class-components/src/index.jsx
  react-class-components/webpack.config.js
Due: markuplint, eslint --fix

completed react-events-and-state
  react-events-and-state/.gitignore
  react-events-and-state/.gitkeep
  react-events-and-state/.npmrc
  react-events-and-state/dist/index.html
  react-events-and-state/package.json
  react-events-and-state/src/index.jsx
  react-events-and-state/webpack.config.js
Due: markuplint, eslint --fix

completed react-hot-button-component
  react-hot-button-component/.gitignore
  react-hot-button-component/.gitkeep
  react-hot-button-component/.npmrc
  react-hot-button-component/dist/index.html
  react-hot-button-component/dist/styles.css
  react-hot-button-component/package.json
  react-hot-button-component/src/hot-button.jsx
  react-hot-button-component/src/index.jsx
  react-hot-button-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

completed react-toggle-switch-component
  react-toggle-switch-component/.gitignore
  react-toggle-switch-component/.gitkeep
  react-toggle-switch-component/.npmrc
  react-toggle-switch-component/dist/index.html
  react-toggle-switch-component/dist/styles.css
  react-toggle-switch-component/package.json
  react-toggle-switch-component/src/index.jsx
  react-toggle-switch-component/src/toggle-switch.jsx
  react-toggle-switch-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

revised this.state property to count
  react-hot-button-component/src/hot-button.jsx
Due: eslint --fix

removed message property from this object and stated in render()
  react-toggle-switch-component/src/toggle-switch.jsx
Due: eslint --fix

removed all this.count
  react-hot-button-component/src/hot-button.jsx
Due: eslint --fix

completed react-stopwatch-component
  react-stopwatch-component/.gitignore
  react-stopwatch-component/.gitkeep
  react-stopwatch-component/.npmrc
  react-stopwatch-component/dist/index.html
  react-stopwatch-component/dist/styles.css
  react-stopwatch-component/package.json
  react-stopwatch-component/src/index.jsx
  react-stopwatch-component/src/stopwatch.jsx
  react-stopwatch-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

completed react-form-controls
  react-form-controls/.eslintrc
  react-form-controls/.gitignore
  react-form-controls/.gitkeep
  react-form-controls/.npmrc
  react-form-controls/dist/index.html
  react-form-controls/package.json
  react-form-controls/src/index.jsx
  react-form-controls/webpack.config.js
Due: markuplint, eslint --fix

value props added in labels
  react-form-controls/src/index.jsx
Due: eslint --fix

completed react-app-drawer
  react-app-drawer-component/.gitignore
  react-app-drawer-component/.gitkeep
  react-app-drawer-component/.npmrc
  react-app-drawer-component/dist/index.html
  react-app-drawer-component/dist/styles.css
  react-app-drawer-component/package.json
  react-app-drawer-component/src/app.drawer.jsx
  react-app-drawer-component/src/index.jsx
  react-app-drawer-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

in progress
  react-validated-input-component/.gitignore
  react-validated-input-component/.gitkeep
  react-validated-input-component/.npmrc
  react-validated-input-component/dist/index.html
  react-validated-input-component/dist/styles.css
  react-validated-input-component/package.json
  react-validated-input-component/src/index.jsx
  react-validated-input-component/src/validated-input.jsx
  react-validated-input-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

completed except extra feature
  react-validated-input-component/dist/styles.css
  react-validated-input-component/src/validated-input.jsx
Due: stylelint --fix, eslint --fix

digit completed
  react-validated-input-component/src/validated-input.jsx
Due: eslint --fix

completed special character
  react-validated-input-component/src/validated-input.jsx
Due: eslint --fix

gave up on validating capital don't want to list all letters in condition lol
  react-validated-input-component/src/validated-input.jsx
Due: eslint --fix

completed react-rendering-lists
  react-rendering-lists/.gitignore
  react-rendering-lists/.gitkeep
  react-rendering-lists/.npmrc
  react-rendering-lists/dist/index.html
  react-rendering-lists/package.json
  react-rendering-lists/src/index.jsx
  react-rendering-lists/webpack.config.js
Due: markuplint, eslint --fix

completed react-accordion-component
  react-accordion-component/.gitignore
  react-accordion-component/.gitkeep
  react-accordion-component/.npmrc
  react-accordion-component/dist/index.html
  react-accordion-component/dist/styles.css
  react-accordion-component/package.json
  react-accordion-component/src/accordion.jsx
  react-accordion-component/src/index.jsx
  react-accordion-component/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

Completed fecth
  fetch/.eslintrc
  fetch/.gitkeep
  fetch/.npmrc
  fetch/index.html
  fetch/main.js
Due: markuplint, eslint --fix

set the topics as a prop in index.jsx
  react-accordion-component/package.json
  react-accordion-component/src/accordion.jsx
  react-accordion-component/src/index.jsx
Due: eslint --fix

in progress
  react-carousel-component/.gitignore
  react-carousel-component/.gitkeep
  react-carousel-component/.npmrc
  react-carousel-component/dist/index.html
  react-carousel-component/dist/styles.css
  react-carousel-component/package.json
  react-carousel-component/src/carousel.jsx
  react-carousel-component/src/index.jsx
Due: stylelint --fix, markuplint, eslint --fix

completed featch-in-react
  fetch-in-react/.gitignore
  fetch-in-react/.gitkeep
  fetch-in-react/.npmrc
  fetch-in-react/dist/index.html
  fetch-in-react/dist/styles.css
  fetch-in-react/package.json
  fetch-in-react/src/app.jsx
  fetch-in-react/src/index.jsx
  fetch-in-react/src/user-list.jsx
  fetch-in-react/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

turn off isLoading after fetching is finished
  fetch-in-react/src/app.jsx
Due: eslint --fix

revised to value of loading being changed afters fetching (asynchronous) is completed
  fetch-in-react/src/app.jsx
Due: eslint --fix

completed componentDidMount
  fetch-in-react-practice/.env.example
  fetch-in-react-practice/.gitignore
  fetch-in-react-practice/.gitkeep
  fetch-in-react-practice/.npmrc
  fetch-in-react-practice/client/components/app.jsx
  fetch-in-react-practice/client/components/page-title.jsx
  fetch-in-react-practice/client/components/todo-form.jsx
  fetch-in-react-practice/client/components/todo-list.jsx
  fetch-in-react-practice/client/index.jsx
  fetch-in-react-practice/database/data.sql
  fetch-in-react-practice/database/import.sh
  fetch-in-react-practice/database/schema.sql
  fetch-in-react-practice/nodemon.json
  fetch-in-react-practice/package.json
  fetch-in-react-practice/server/dev-middleware.js
  fetch-in-react-practice/server/index.js
  fetch-in-react-practice/server/public/images/favicon.png
  fetch-in-react-practice/server/public/index.html
  fetch-in-react-practice/server/public/styles.css
  fetch-in-react-practice/webpack.config.js
Due: stylelint --fix, markuplint, eslint --fix

completed post feature
  fetch-in-react-practice/client/components/app.jsx
Due: eslint --fix

finalized feature post
  fetch-in-react-practice/client/components/app.jsx
Due: eslint --fix

in progress
  fetch-in-react-practice/client/components/app.jsx
Due: eslint --fix

completed patch feature
  fetch-in-react-practice/client/components/app.jsx
Due: eslint --fix

completed express-static
  express-static/.eslintrc
  express-static/.gitkeep
  express-static/.npmrc
  express-static/index.js
  express-static/package.json
  express-static/public/image/image.webp
  express-static/public/image/lion.jpeg
  express-static/public/index.html
  express-static/public/main.js
  express-static/public/styles.css
Due: stylelint --fix, markuplint, eslint --fix

completed express-error-handling
  express-error-handling/.env.example
  express-error-handling/.gitignore
  express-error-handling/.gitkeep
  express-error-handling/.npmrc
  express-error-handling/database/data.sql
  express-error-handling/database/schema.sql
  express-error-handling/package.json
  express-error-handling/scripts/db-import.bash
  express-error-handling/server/client-error.js
  express-error-handling/server/error-middleware.js
  express-error-handling/server/index.js
Due: eslint --fix

revised based on the feedbacks!
  fetch-in-react-practice/client/components/app.jsx
Due: eslint --fix

completed api-registartion
  api-registration/.env.example
  api-registration/.eslintrc
  api-registration/.gitignore
  api-registration/.gitkeep
  api-registration/.npmrc
  api-registration/database/data.sql
  api-registration/database/schema.sql
  api-registration/hash-password.js
  api-registration/package.json
  api-registration/scripts/db-import.bash
  api-registration/server/client-error.js
  api-registration/server/error-middleware.js
  api-registration/server/index.js
Due: eslint --fix

revised api-registration
  api-registration/server/index.js
Due: eslint --fix

revised both catch methods to correct line
  api-registration/server/index.js
Due: eslint --fix

completed api-authentication
  api-authentication/.env.example
  api-authentication/.eslintrc
  api-authentication/.gitignore
  api-authentication/.gitkeep
  api-authentication/.npmrc
  api-authentication/create-token.js
  api-authentication/database/data.sql
  api-authentication/database/schema.sql
  api-authentication/package.json
  api-authentication/scripts/db-import.bash
  api-authentication/server/client-error.js
  api-authentication/server/error-middleware.js
  api-authentication/server/index.js
  api-authentication/verify-password.js
Due: eslint --fix

completed api-authorization
  api-authorization/.env.example
  api-authorization/.eslintrc
  api-authorization/.gitignore
  api-authorization/.gitkeep
  api-authorization/.npmrc
  api-authorization/database/data.sql
  api-authorization/database/schema.sql
  api-authorization/package.json
  api-authorization/scripts/db-import.bash
  api-authorization/server/authorization-middleware.js
  api-authorization/server/client-error.js
  api-authorization/server/error-middleware.js
  api-authorization/server/index.js
  api-authorization/verify-token.js
Due: eslint --fix
